.button-container {
    margin-top: 24px;
    margin-left: 24px;
}

.button-add-book {
    background-color: #d9fad4;
    color: #000000;
}

.book-grid {
    padding-right: 16px;
    padding-bottom: 16px;
}

.book-card-container {
    overflow-y: auto;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    max-height: 40rem;
}