.button-container {
    margin-top: 24px;
    margin-left: 24px;
}

.button-add-book {
    background-color: #d9fad4;
    color: #000000;
}

.tab-panel {
    color: #000000;

    &.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected { 
        color: #d9fad4 !important; 
    }
}