.heading {
    background-color: #d9fad4;
    width: 100%;
    height: 128px;
}

.heading-text {
    color: #000000;
    line-height: normal;
    padding-top: 24px;
}

.button-add-book {
    background-color: #d9fad4;
    color: #000000;
    margin-left: 24px;
}